
  <!-- <div class="alert alert-success" role="alert" ng-show="reveal">
      <h4>{{ alertMessage | uppercase }}</h4>
     <p ng-repeat="splitter in splitters">{{ splitter.name }} owes {{ splitter.owes | currency | orderBy : reverse }}</p>
  </div> -->

<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">Enter your trip costs below</h1>
  </div>
  <div class="panel-body">

    <!-- ADD SPLITTEES -->
    <form class="form-horizontal" name="test" role="form" ng-submit="addSplitter(splitter)">
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Split with:</label>
        <div class="input-group">
          <div class="input-group-addon">+</div>
          <input class="form-control" type="text" placeholder="Who are you splitting with?" ng-model="splitter">
        </div>
      </div>
    </form>
    <div class="splittees">
      <label class="col-sm-2 control-label"></label>
      <span class="label label-success" ng-repeat="splitter in splitters"> {{ splitter.name }} </span>
    </div>
<br />
<br />
    <!-- EXPENSES -->

<form name="test" class="form-inline" role="form" ng-submit="addLineItem(item,cost,whoPaid)">

    <input class="form-control" type="text" placeholder="What was it?" ng-model="item" required>

    <input class="form-control" type="number" placeholder="How much was it?" ng-model="cost" required>

    <input class="form-control" type="text" placeholder="Who paid?" ng-model="whoPaid" required >

    <button type="submit" class="btn btn-default">Add to list</button>
</form>

<br />
<!-- TABLE OF LINE ITEMS --> 
  <table class="table">
    <tr class="info">
      <th>Total trip cost: {{ total | currency }} </th>
      <th></th>
      <th>
        <form class="form-inline" role="form" ng-submit="calculate()">
          <button type="form-control" class="btn btn-info btn-sm button-for-header">Finished</button>
        </form>
      </th>
    </tr>
    <tr class="active">
      <td>Item to split</td>
      <td>Cost</td>
      <td>Who Paid</td>
    </tr>
    <tr ng-repeat="lineItem in lineItems">
      <td>{{ lineItem.item }}</td>
      <td>{{ lineItem.cost | currency }}</td>
      <td>{{ lineItem.whoPaid }}</td>
    </tr>

  </table>


  </div>

</div>
