<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">Your trips</h1>
  </div>
  <div class="panel-body">
    <ul class="list-group split">
    <li class="input-group">
      <span class="input-group-addon">+</span>
      <form ng-submit="addTrip()">
      <input type="text" class="form-control" placeholder="Add trip..." ng-model="trip" >
      </form>
    </li>
    <br />
      <!--grey out-->
      <li class="list-group-item" ng-repeat="trip in trips">{{ trip }}</li>
  </div>
</div>

